.menu {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    display: inline-block;
    padding: 0px 15px;
    line-height: 0.2em;
    color: darkgrey;
    margin-right: 5px;
    border: 1px solid lightgrey;
    background-color: #fff;
    border-radius: 3px;
}
.link:active {
    background-color: #6C6C6C;
        color: #fff;
}

.Button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.Button:focus {
    background: #fff;
    color: grey;
}